<footer>
	<div class="bc1 d-flex flex-row  align-center justify-center fs24">
		<p class="cl1">Copyright by Claire-Martine, Thomas et Pierre-Yves.</p>
		<div class="d-flex aligncc justify-center align-center ">
			<div class="cl1 alignsend">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram"></i>
			</div>	
		</div>	
	</div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./assets/js/script.js"></script>