<header>
    <nav role="navigation"  class="bc1">
       
        <div class="d-flex flex-row align-center justify-center">
        	{# <img class="" src="assets/img/logo.png" alt="logo"> #}
            <a href="index.php" class="fs75 logo">Meme 51</a>
        </div>
    </nav>
</header>