<header class="d-flex flex-row justify-center align-center bc1 w100 h150p">
<<<<<<< HEAD
    <h1><a href="index.php" class="fs75 logo">Meme 51</a></h1>
</header>
=======
            <h1><a href="index.php" class="fs75 logo">Meme 51</a></h1>
</header>
>>>>>>> 260c706798689d1f71ae8013dd05ac6ece7511b3
