{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <div>
        <div class="d-flex justify-center align-center">
	
            <input type="submit" action="#" value="Générateur">
            
    </div>
        {% if images|length > 0 %}
            {% for image in images %}
                <p><img src="./assets/upload/{{ image.NAME }}" alt=""></p>
            {% endfor %}
        {% endif %}
    </div> 
{% endblock %}